<!DOCTYPE html>
<html lang="en">
<head>
      <title>Sudhansu Sekhar Rath | Professional Info</title>
      <!-- Meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Sudhansu Sekhar Rath | Professional Info">
      <meta name="author" content="Sudhansu Sekhar Rath | Professional Info"> 	  
      <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
      <!-- Global CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">   
      <!-- Plugins CSS -->
      <link rel="stylesheet" href="css/font-awesome.css">
      <!-- Theme CSS -->  
      <link id="theme-style" rel="stylesheet" href="css/index.css">
	
	<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#home" class="active">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
  </head> 	
	
  <body ng-app="app">

    <!-- Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81263373-1', 'auto');
      ga('send', 'pageview');

    </script>

    <div class="wrapper" ng-controller="PageCtrl" ng-init="init()">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img id="photo" class="profile" src="images/profile.jpg" alt="Sudhansu Sekhar rath" />
                <h1 class="name">Sudhansu Sekhar Rath</h1>
                <h3 class="tagline">PhD Research Fellow at National Institute of Technology, Rourkela, India</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
			
                <ul class="list-unstyled contact-list">
                    <li class="email cursor-pointer"><i class="fa fa-envelope"></i><a ng-click="sendMail()">sudhansu.rath@gmail.com</a></li>
					<li class="email cursor-pointer"><i class="fa fa-envelope"></i><a ng-click="sendMail()">514er1004@nitrkl.ac.in</a></li>                  
                </ul>
				
            </div><!--//contact-container-->
			<div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Image Processing & GIS</li>
                    <li>Atmospheric modeling</li>               
                    
                </ul>
            </div><!--//interests-->
			
			
			<div class="interests-container container-block">
                <h2 class="container-block-title">Technical Skills</h2>
                <ul class="list-unstyled interests-list">
                    <li>ERDAS Imagine</li>
                    <li>ArcGIS</li>
                    <li>QGIS</li>
                    <li>ENVI</li>
                    <li>WRF model</li>
					<li>GrADS</li>
                    <li>MATLAB</li>  
                    
                </ul>
            </div><!--//interests-->
			
			
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">PhD</h4>
                    <h5 class="meta">National Institute of Technology, Rourkela</h5>
                    <h5 class="meta">Atmospheric Sciences</h5>
                    <div class="time">2015 - present</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">M. Tech</h4>
                    <h5 class="meta">SRM University, Chennai</h5>
					<h5 class="meta">Remote sensing & GIS</h5>
                    <div class="time">2011 - 2013</div>
                </div><!--//item-->
				<div class="item">
                    <h4 class="degree">B. Tech</h4>
                    <h5 class="meta">Orissa University of Agriculture & Technology (OUAT), Bhubaneswar</h5>
					<h5 class="meta">Agricultural Engineering </h5>
                    <div class="time">2006 - 2010</div>
                </div><!--//item-->
            </div><!--//education-container-->
            
            
            
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>Currently I am working on &quot;Urban induced land use change impacts on localized weather and climate&quot;.
    					I like to seek challenging roles in the field of &quot;urban meteorology, remote sensing and numerical weather modelling&quot;.
						I have an aim to train myself to focus on the current challenges faced in making of weather sustainable cities."</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Research Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PhD Research Fellow</h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
						
                        <div class="company">National Institute of Technology, Rourkela </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Supervisor: Dr. Jagabandhu Panda </p>  
						<p>Thesis: Urbanization and its interaction with weather and climate over selected southern and eastern Indian cities. </p>
                    </div><!--//details-->
                </div><!--//item-->
                
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">M. Tech Research Project</h3>
                            <div class="time">2013</div>
                        </div><!--//upper-row-->
						
                        <div class="company">SRM University, Chennai</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Supervisor: Dr. R. Annadurai </p>  
						<p>Thesis: Agro-climatic suitability analysis of major crop in Odisha through geo-informatics, (A Case Study in Khordha District).</p>
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internship</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
						
                        <div class="company">Chilika Development Authority, Chilika</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Topic: Land use/land cover change detection through remote sensing approach</p>  						
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Research Project</h3>
                            <div class="time">2010</div>
                        </div><!--//upper-row-->
						
                        <div class="company">Central Institute of Post-Harvest Engineering & Technology, Punjab</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Topic: Post-harvest operations in Horticultural crops </p>  						
                    </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Research Project</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
						
                        <div class="company">Central Rice Research Institute, Cuttack</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Topic: Post-harvest Technology for Rice, Crop water management in Rice </p>  						
                    </div><!--//details-->
                </div><!--//item-->
                
                
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Professor</h3>
                            <div class="time">Aug 2013 - Dec 2014</div>
                        </div><!--//upper-row-->
						
                        <div class="company">Galgotias University, Greater Noida, UP</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Role: Teaching</p>  
						 </div><!--//details-->
                </div><!--//item-->
				
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Programme Officer </h3>
                            <div class="time">Jul 2010 - Jan 2011</div>
                        </div><!--//upper-row-->
						
                        <div class="company">BAIF Development and Research Foundation, Pune </div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Role: Agricultural Engineer</p>  
						 </div><!--//details-->
                </div><!--//item-->
               </section><!--//section--> 
				
                <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Publications</h2>
                
                <div class="item">
                    <div class="details">
                        <p><li><b>Rath, S. S.</b>, & Panda, J. (2018). A Study of Near-Surface Boundary Layer Characteristics During the 2015 Chennai Flood in the Context of Urban-Induced Land Use Changes. Pure and Applied Geophysics, 1-23.</p></div><!--//details-->
                </li></div>
				
                
				<div class="item">
                    <div class="details">
                        <p><li>Singh, K., Panda, J., & <b>Rath, S. S.</b> (2018). Variability in landfalling trends of cyclonic disturbances over North Indian Ocean region during current and pre-warming climate. Theoretical and Applied Climatology, 1-23. </p>
					</li></div><!--//details-->
				</div>
                
				<div class="item">
                    <div class="details">
                        <p><li><b>Rath, S. S.</b>, Panda, J., Annadurai, R., & Nanda, S. (2018). A Study on Land Suitability for Rice Cultivation in Khordha District of Odisha (India) Using Remote Sensing and GIS. Earth Systems and Environment, 1-14.
						</li></p></div><!--//details-->
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>Jain, S., Panda, J., <b>Rath, S. S.</b>, & Devara, P. C. S. (2017). Evaluating Land Surface Models in WRF Simulations over DMIC Region. Indian Journal of Science and Technology, 10(18). 
						</li></p></div><!--//details-->
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>Giri, R. K., Panda, J., <b>Rath, S. S.</b>, & Kumar, R. (2016). Validating quantitative precipitation forecast for the Flood Meteorological Office, Patna region during 2011– 2014. Journal of Earth System Science, 125(4), 709-723.
						</li></p></div><!--//details-->
				</div>
				</section><!--//section--> 
				
				<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Trainings attended</h2>
                
                <div class="item">
                    <div class="details">
                        <p><li>IIRS outreach course on “Hyperspectral Remote Sensing” from 18 Sept- 21 Sept 2017. 
						</li></p></div>
				</div> 
				<div class="item">
                    <div class="details">
                        <p><li>IIRS outreach course on “Remote Sensing and Digital Image Analysis” from 21 Aug- 15 Sept 2017. 
						</li></p></div>
				</div>
				
				 
				<div class="item">
                    <div class="details">
                        <p><li>Elsevier Author Workshop and eBook awareness Program 2017, held at National Institute of Technology, Rourkela.
						</li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>Application of SPSS in Demographic and Health Care Research, 16-18 Aug 2016, held at Department of Humanities and Social Sciences, National Institute of Technology, Rourkela. 
						</li></p></div>
				</div>
				</section><!--//section--> 
            
			<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Conferences and Workshops</h2>
				<div class="item">
                    <div class="details">
                        <p><li><b>MAPEX-2019</b>: IITD-ANCST International Workshop on Modeling Atmospheric - 
						Oceanic Processes for Weather and Climate Extremes (MAPEX 2019), (28-29 March, 2019), 
						Indian Institute of Technology, Delhi Presented a poster on the topic “Sensitivity to boundary 
						layer and microphysics parameterizations over two urban complexes during extreme weather events”.
						Received full sponsorship from IITD-ANCST for attending MAPEX-2019, New Delhi. 					
						</li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li><b>ICUC10</b>: 10th International Conference on Urban Climate/ 14th Symposium on the Urban Environment. 
						(06-10 August 2018), City College of New York, NY. Presented a Poster on the topic “Sensitivity to microphysics 
						and land use change for WRF simulated rainfall over a continuously urbanizing twin city of Odisha, India”. 
						<b>Received CSIR travel grant (April2018) for attending ICUC10, New York.</b></li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>Practical workshop on the Urban Multi-scale Environmental Predictor (UMEP), 
						held during ICUC10. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>GOES-16 and GOES-R series product training workshop held during ICUC10. </li></p></div>
				</div>
				<div class="item">
                    <div class="details">
                        <p><li><b>INTROMET 2017</b>: International Tropical Meteorology Symposium on “Advancements in Space-based Earth
						Observations and Services for Weather and Climate” (07-10 Nov 2017), organised at Space Application Centre, Ahmedabad.
						<b>Attended as a Sponsored fellow from Indian Meteorological Society</b>. Presented an Oral Presentation on topic 
						“Correlating urban growth over Chennai to meteorological characteristics during a flood event”. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li><b>AOGS 2017</b>: 14th Annual Meeting of Asia Oceania Geosciences Society, (06-11 Aug 2017, Oral Presentation on 
						topic “Analysing Hydro-meteorological Scenario During 2015 Chennai Flood Event And Possible Role of Urbanization” 
						held at Singapore. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>National Workshop Popularisation of Remote Sensing Based Maps &
						Geospatial Information. (11 Aug 2017), jointly organised by ISRS & ISRO. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li><b>OBSCON-2017</b>: SERB Workshop on “Observational and Computational Tools for Now casting” (15 - 26 May 2017),
						jointly organised by Air force Administrative College & Bharathiar University, Coimbatore. 
						</p></li></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>TROPMET 2016: National Symposium on Tropical Meteorology: Climate Change and Coastal Vulnerability (18-21 December 2016), held at ITER, Bhubaneswar, Odisha Presented a Poster 
						on the topic “Near surface and Boundary layer characteristics during Chennai flood event (NOV-DEC 2015)”. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>National Seminar on Weather and Climate Risks in Agriculture under Changing Climate: Management and Mitigation. (12-13 March 2015), organised by JNKVV College of Agriculture, Tikamgarh, MP. Presented a Poster on the topic “Agro-climatic suitability analysis using remote sensing &GIS- 
						A case study of Khordha district of Odisha (India)”. Awarded second position for best poster presentation. </li></p></div>
				</div>
				
				<div class="item">
                    <div class="details">
                        <p><li>National Symposium-2012 “Space Technology for Food & Environmental Security” and Annual Conventions of Indian Society of Remote Sensing and Indian Society of Geomatics.
						Participated in the poster presentation at the symposium. </li></p></div>
				</div>
			</section><!--//section--> 
				
            
			<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Memberships</h2>
                
                <div class="item">
                    <div class="details">
                        <p><li>Life Member, Indian Meteorological Society (IMS). LM-3225 from 2017.  
						</li></p></div>
				</div> 
				<div class="item">
                    <div class="details">
                        <p><li>Life Member, Indian Society of Remote sensing (ISRS). L-4672 from 2016.  
						</li></p></div>
				</div>
				
			</section><!--//section--> 
			
			
			
			
            
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
          <small class="copyright">©Sudhansu Sekhar Rath, 2019</small>
        </div>
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="js/index.js"></script>            
  </body>
</html> 

